.song-section {
  width: 85%;
  display: flex;
  gap: 20px;
  color: white;
  padding: 10px 15px;
  user-select: none;
  justify-content: center;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main h1 {
  font-size: 35px;
}

.lyrics-box {
  width: 100%;
  height: 50%;
  margin-top: 5px;
}

label {
  font-size: 18px;
  font-weight: 600;
}

.main textarea {
  background-color: transparent;
  color: white;
  resize: none;
  height: 90%;
  display: block;
  width: 100%;
  margin-top: 10px;
  outline: none;
  padding: 7px;
  border-radius: 5px;
}
.side {
  width: 35%;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.music-upload {
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  background-color: white;
  background-image: url("../public/music.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  border: 1px solid white;
}

#drop-area {
  transition: all 0.5s;
}

.music-upload input {
  opacity: 0;
}

.highlight {
  border: 10px solid green;
}

#audio {
  background-color: rebeccapurple;
}

.music-player {
  width: 100%;
  border: 1px solid white;
  flex-grow: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  gap: 5px;
  display: none;
}

.music-player .audio-visulizer {
  width: 100%;
  height: 80%;
  background-color: lightblue;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url("../public/pause-audio-visualizer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.music-player .audio-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 10px;
  align-items: center;
}

.audio-controls .material-symbols-outlined {
  font-size: 32px;
  cursor: pointer;
}

#preview-container {
  position: absolute;
  transform: translateX(-1000%);
}

.progressBar {
  width: 50%;
  background-color: gray;
  margin-left: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.myBar {
  width: 0%;
  background-color: lightgreen;
  height: 100%;
}

#volume-up {
  margin-left: auto;
}

.duration {
  height: 100%;
  font-size: 18px;
  padding: 5px;
}

.thumbnail-box {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  background-image: url("../public/thumbnail_upload.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  display: flex;
  justify-content: center;
  background-position: center center;
  cursor: pointer;
}

#thumbnail-inp{
  opacity: 0;
}

.song-action-btn {
  width: 100%;
  margin-top: auto;
  padding: 0 10px;
  display: flex;
  gap: 10px;
}

.song-action-btn button {
  width: 100%;
  outline: none;
  padding: 15px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(54, 52, 52);
  font-weight: 600;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

#extract-lyrics-btn {
  margin-bottom: 10px;
}

.music-action-btn {
  display: flex;
  gap: 10px;
}


#post {
  background-color: rebeccapurple;
}

.artist-in-db,
.genre-in-db {
  height: 20vh;
  margin-top: 5px;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genre-name,
.artist-name {
  background-color: rgb(56, 54, 54);
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: capitalize;
  height: fit-content;
}
